*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@font-face
{
    font-family: 'SourceSansPro', sans-serif;
    src:url(SourceSansPro-Regular.otf) format("truetype");
    src:url(SourceSansPro-Semibold.otf) format("truetype");
}
    
    .main-frame{
        height: 108px;
        width: 360px;
        margin: 48px auto 48px;
        gap: 16px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .main-frame .title{
        font-family: 'Source Sans Pro';
        font-style:normal;
        font-weight: 600;
        font-size: 40px;
        Line-height: 100%;
        color: #14132B;
        text-align: center;
        letter-spacing: -0.03em;
    }
    .main-frame .content{
        font-family: 'Source Sans Pro';
        font-style: normal;
        font-weight: 400;
        Font-size: 16px;
        Line-height: 140%;
        color: #989BB4;
        text-align: center;
        letter-spacing: -3%;
    }
    .content-frame {
        height: 90%;
        width: 90%;
        margin: 0px auto 40px;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
    }
    .content-frame .box {
        height: 100%;
        width: 24%;
        flex-direction: row;
        border-radius: 24px;
        border: 1px solid #E2E8EB;
        position: relative;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
        transition: transform 0.3s ease;
    }
    .content-frame .box:hover {
        transform: scale(1.11);
        box-shadow: 2px 8px 16px rgba(0, 0, 0, 0.3);
    }
    .content-frame .box .custom-image {
        width: 80%;
        height: auto;
        border-radius: 5%;
        margin: 0px 10% 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
        object-fit: cover;
        transition: transform 0.3s ease;
    }
    .content-frame .box .module{
        width: fit-content;
        height: 24px;
        font-family: 'Source Sans Pro';
        font-style: normal;
        font-weight: 600;
        Font-size: 24px;
        Line-height: 24px;
        Line-height: 100%;
        margin: 32px auto 16px 10.2564%;
        letter-spacing: -0.03em;
    }
    .content-frame .box .price{
        width: 114px;
        height: 42px;
        margin: 0px auto 10px 10.2564%;
        display: flex;
        letter-spacing: -3%;
        width: fit-content;
    }
    .content-frame .box .price .dolar-sign{
        Font-family: 'Source Sans Pro';
        Font-style: 'normal';
        font-weight: 600;
        Font-size: 16px;
        Line-height: 16px;
        Line-height: 100%;
        align-self: flex-start;
    }
    .content-frame .box .price .cost{
        Font-family: 'Source Sans Pro';
        Font-style: 'normal';
        font-weight: 600;
        Font-size: 48px;
        Line-height: 48px;
        Line-height: 100%;
        align-self: center;
        letter-spacing: -0.03em;
    }
    .content-frame .box .price .period{
        Font-family: 'Source Sans Pro';
        Font-style: 'normal';
        font-weight: 400;
        Font-size: 16px;
        Line-height: 16px;
        Line-height: 100%;
        Letter-spacing: -3%;
        color: #989BB4;
        align-self: flex-end;   
    }
    .content-frame .box .description{
        width: 78.2051%;
        margin: 0px 0px 10px 10.2564%;
        font-family: 'Source Sans Pro';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 140%;
        letter-spacing: -0.01em;
        color: #989BB4;
        height: fit-content;
    }
    .content-frame .box .pros{
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 0px;
        gap: 12px;
        width: 78.2051%;
        margin: 0px 10.2564% 8px 10.2564%;
        height: fit-content;
    }
    .content-frame .box .pros .text{
        height: 22px;
        font-family: 'Source Sans Pro';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 140%;
        color: #14132B;
        letter-spacing: -0.01em;
    }
    .content-frame .box .get-started {
        padding: 17px 32px;
        gap: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 80%;
        height: 48px;
        background: #14132B;
        border-radius: 16px;
        border: 1px solid #E2E8EB;
        text-decoration: none;
        margin: 0 auto 16px;
    }
    .content-frame .box .get-started:hover{
        background-color: #393850;
    }
    .content-frame .box .get-started:active{
        background-color:#060613;
    }
    .get-started2 {
        padding: 17px 32px;
        gap: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 80%;
        height: 48px;
        background: #7863F9;
        border-radius: 16px;
        text-decoration: none;
        margin: 0 auto 16px;
    }
    .content-frame .box .get-started2:hover{
        background-color: #9180FF;
    }
    .content-frame .box .get-started2:active{
        background-color:#6A53F4;
    }
    .start-text {
        width: fit-content;
        height: fit-content;
        font-family: 'Source Sans Pro';
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 100%;
        letter-spacing: -0.01em;
        color: #FFFFFF;
        margin: 0 auto; /* Wycentrowanie poziome */
        display: flex;
        justify-content: center;
        align-items: center; /* Wycentrowanie pionowe */
    }
    @media screen and (max-width: 1275px) {
        .main-frame{
            margin: 40px auto 20px;
        }
        .content-frame{
            flex-direction: column;
            height: auto;
            width: auto;
            margin: 0px 5% 0px;
        }
        .content-frame .box {
            width: 100%;
            height: auto;
            flex-direction: row;
            margin: 0px 0px 24px 0px;
        }
        .content-frame .box:hover {
            transform: scale(1.05);
            position: relative;
            z-index: 1;
        }
        .content-frame .box .custom-image {
            margin: 10px 5% 10px 5%;
        }
        .content-frame .box .module{
            margin: 32px auto 16px 4.7477%;
        }
        .content-frame .box .price{
            margin: 0px auto 24px 4.7477%;
            flex: none;
            position: absolute;
            right: 32px;
            top: 32px;
        }
        .content-frame .box .description{
            margin: 0px 0px 10px 4.7477%;
            width: 90%;
        }
        .content-frame .box .pros{
            margin: 0px 10.2564% 8px 4.7477%;
            width: 46%;
        }
        .content-frame .box .get-started{
            width: 38.5757%;
            right: 32px;
        }
        .content-frame .box .get-started2{
            width: 38.5757%;  
            right: 32px;
        }
      }
      @media screen and (max-width: 600px) {
        .content-frame .box{
            width: 100%;
            height: auto;
        }
        .content-frame .box .custom-image {
            width: 90%;
            margin: -10px 5% 10px 5%;
        }
        .content-frame .box .module{
            margin-left: 5%;
        }
        .content-frame .box .price{
            position: initial;
            margin-left: 5%;
        }
        .content-frame .box .description{
            margin: 0px 0px 8px 5%;
            width: 90%;
        }
        .content-frame .box .pros{
            margin: 0px 5% 8px;
            width: 90%;
        }
        .content-frame .box .get-started{
            right: 5%;
            width: 90%;
        }
        .content-frame .box .get-started2{
            right: 5%;
            width: 90%;
        }
      }