*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@font-face
{
    font-family: 'SourceSansPro', sans-serif;
    src:url(SourceSansPro-Regular.otf) format("truetype");
    src:url(SourceSansPro-Semibold.otf) format("truetype");
}

    .mid_content {
        width: 90%;
        max-width: 1080px;
        min-height: 700px;
        height: fit-content;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: -120px auto;
        padding: 140px 20px 120px;
        gap: 20px;
        background-image: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.5) 3%, rgba(255, 255, 255, 0.5) 97%, rgba(255, 255, 255, 0) 100%);
    }
    .time-choice {
        font-family: 'Source Sans Pro';
        font-style: normal;
        font-weight: 400;
        Font-size: 16px;
        Line-height: 140%;
        color: #14132B;
        text-align: center;
        letter-spacing: -3%;
        /*border: 1px solid red;*/
        min-width: 100px
    }
    .title {
        font-family: 'Source Sans Pro';
        font-style: normal;
        font-weight: 600;
        font-size: 40px;
        Line-height: 100%;
        color: #14132B;
        text-align: center;
        letter-spacing: -0.03em;
    }
    .content0 {
        font-family: 'Source Sans Pro';
        font-style: normal;
        font-weight: 400;
        Font-size: 16px;
        Line-height: 140%;
        color: #14132B;
        text-align: center;
        letter-spacing: -3%;
        /*border: 1px solid red;*/
        min-width: 60px
    }
    .content1 {
        font-family: 'Source Sans Pro';
        font-style: normal;
        font-weight: 400;
        Font-size: 16px;
        Line-height: 140%;
        color: #989BB4;
        text-align: center;
        letter-spacing: -3%;
        /*border: 1px solid red;*/
        min-width: 100px
    }
    .module{
        width: fit-content;
        height: fit-content;
        min-height: 24px;
        font-family: 'Source Sans Pro';
        font-style: normal;
        font-weight: 600;
        Font-size: 24px;
        Line-height: 24px;
        Line-height: 100%;
        letter-spacing: -0.03em;
    }
    .dolar-sign{
        Font-family: 'Source Sans Pro';
        Font-style: 'normal';
        font-weight: 600;
        Font-size: 16px;
        Line-height: 16px;
        Line-height: 100%;
        align-self: flex-start;
    }
    .cost{
        Font-family: 'Source Sans Pro';
        Font-style: 'normal';
        font-weight: 600;
        Font-size: 48px;
        Line-height: 48px;
        Line-height: 100%;
        align-self: center;
        letter-spacing: -0.03em;
    }
    .period{
        Font-family: 'Source Sans Pro';
        Font-style: 'normal';
        font-weight: 400;
        Font-size: 16px;
        Line-height: 16px;
        Line-height: 100%;
        Letter-spacing: -3%;
        color: #989BB4;
        align-self: flex-end;   
    }
    .description {
        width: 100%;
        font-family: 'Source Sans Pro';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 140%;
        letter-spacing: -0.01em;
        color: #989BB4;
        height: fit-content;
    }

    .text{
        height: 22px;
        font-family: 'Source Sans Pro';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 140%;
        color: #14132B;
        letter-spacing: -0.01em;
    }
    .start-text {
        width: fit-content;
        height: fit-content;
        font-family: 'Source Sans Pro';
        font-style: normal;
        font-weight: 600;
        font-size: 24px;
        line-height: 100%;
        letter-spacing: -0.01em;
        color: #FFFFFF;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    @media screen and (max-width: 1090px) {

    }
